.tooltip{
    position: absolute;
    z-index: 500;
    background: rgb(0, 0, 0, .6);
    box-shadow: 0 0 0 2px #FB5, 0 0 0 6px rgb(0, 0, 0, .6);
    padding: 1.5rem;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: .875rem;
    max-width: 170px;
    border-radius: 2px;
}